language: android
android:
  components:
    - build-tools-28.0.3
    - android-29
    - android-21
    - add-on
    - extra
    - platform-tools
    - tools
    - extra-google-googleplayservices
    - extra-google-m2repository
      - extra-android-m2repository
      - addon-google_apis-google-28
      - sys-img-armeabi-v7a-android-21

before_install:
  - yes | sdkmanager "platforms;android-29"

